DISCORD_BOT_TOKEN=CHANGE_ME

STORAGE_TYPE = "local" #Can accept local, database
DATABASE_TYPE = "" #Can accept sqlite, postgresql, mysql, mariadb. Ignored if STORAGE_TYPE is local
DATABASE_URL = "" #Ignored if STORAGE_TYPE is local NOTE leave empty if DATABASE_TYPE set to sqlite