DISCORD_BOT_TOKEN=CHANGE_ME

STORAGE_TYPE = "" #Leave empty to use SQLite by default. Can accept: sqlite, postgresql, mysql, mariadb
DATABASE_TYPE = "" #Can accept sqlite, postgresql, mysql, mariadb. Used when STORAGE_TYPE is "database"
DATABASE_URL = "" #Database connection URL. If empty and STORAGE_TYPE is unset, a local SQLite file will be used

# Optional individual DB connection parts. If DATABASE_URL is not provided,
# the application will try to construct one from these values.
DB_DRIVER = ""     # e.g. sqlite, postgresql, mysql
DB_USER = ""
DB_PASSWORD = ""
DB_HOST = ""
DB_PORT = "3306"
DB_NAME = ""
DB_PATH = ""       # For sqlite file path, e.g. data/data.db